@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
*{
    box-sizing: border-box;
}
:root {
    --color-primary:background: linear-gradient(to left, #159957, #155799);;
    --color-title: #000;
    --align-title: left;
    --padding-container: 50px 10px;
    --width-container: 90%;
    --max-width-container: 1200px;
    --color-btn: #0506FF;
    --text-btn: #fff;
    --padding-btn: 20px 35px;
    --height-shape: 18em;


}

body {
    margin: 0;
    overflow: hidden;
    font-family: 'Staatliches', cursive;
    background: linear-gradient(to bottom, #11998e, #38ef7d);
   


}



#polygon-container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    position: relative;
    z-index: 1;
}

.logo {
    grid-column: 2;
    grid-row: 1 / span 2;
    max-width: 100%;
    height: auto;
    position: relative;
    top: 50%;
    margin:-20px 150px;
    transform: translate(0, -50%);
}

.text h1 {
    margin: 0;
    font-size: 4em;
    position: relative;
    z-index: 1;
}

.text h1::before,
.text h1::after {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    background-color: #ffcc00;
    height: 30%;
    width: 160px; /* Ajusta el ancho del fondo amarillo */
}

.text h1::before {
    left: -10px; /* Ajusta la posición del fondo amarillo para "Value" */
}

.text h1::after {
    right:780px;
    top: 170px /* Ajusta la posición del fondo amarillo para "valor" */
}


.text {
    grid-column: 1;
    grid-row: 1;
    display: flex;
    align-items: center;
    margin-bottom: -440px;
    padding: 15px;
    justify-content: center;
    color: aliceblue;
}

.particles-container {
    grid-column: 2 / -1; /* Ocupa todo el lado derecho */
    grid-row: 1 / span 2; /* Ocupa todo el alto */
    width: 100%; /* 100% del tamaño del header */
    height: 100%; /* 100% del tamaño del header */
    position: relative;
    z-index: 1;
}

.particle {
    
    
    position: absolute;
    width: 250px;
    height: 2px;
   
    
    background-color: #ffcc00;
   
}





.time ul li {
    font-size: 24px; /* Ajusta el tamaño del texto según sea necesario */
  }
  


.tech_title {
    font-size: 4rem;
  
   
}

.tech_text{
            width: 100%; /* Ajusta el tamaño del contenedor de texto según sea necesario */
            height: 30%;
            position: absolute;
            top: 0;
            right: 0;
            display: flex;
            align-items: center;
            justify-content: center;

}


.tech_cta {
    display: inline-block;
   
    color: #fff;
    font-size: 30px;
    padding: var(--padding-btn);
    margin: 10px 0px;
    text-decoration: none;
}

.illustration {
    display:block ;
    width: 95%;
    margin: -250px auto;
}

.main{
    background: linear-gradient(to left, #159957, #155799);;
}

.title{
    font-size: 2.5rem;
    text-align: var(--align-title);
    color: var(--color-title)
   
}
.title--border::after{
    content:"";
  
    display: block;
    width: 100px;
    margin-top: 20px;
    height: 4px;
   
}


.developer{
    text-align: center;
   
    --padding-container: 20px 0px 60px;
  
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr); 
    gap: 20px; 
    padding:20px;
    box-sizing:border-box;
  }
  
  .grid-item {

   
    padding: 20px; 
  
  }
    
.about_paragraph{
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
 
}

.instructor_name{
    margin: 20px 0px;
}
.ceo_tag{
    font-weight: 500;
    color: var(--color-primary);
    margin-bottom: 20px;
}
.developer_img{
    width:200px;
    height:200px;
    border-radius: 50%;
    object-fit: cover;
    object-fit: top;
}
.about{
    display: grid;
    background: var(--color-primary);
    grid-template-columns: 5fr 4fr;
    place-items: center;
    
}
.about_course{
    width:90%;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    padding: 15px;
    
}
.about_paragraph{
    margin: 20px 0px;
    line-height: 1.5;
    font-weight: 300;
    font-size: x-large;
    
}
.pic{
    text-align: center;
}

.about_pic{
    width:600px;
 
  

}
.card{
    
   
  backdrop-filter: blur(10px);
  border-radius: 8px;
  padding: 20px;
    text-align: left;
}

.card_container{
    width: 90%;
    margin: 0 auto;
    margin-top: 60px;
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap: 20px;
    
}
.card_item{
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-size: x-large;
 
    padding: 20px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
.timeline-title {
    position: relative;
    text-align: center;
    margin-left: 1100px;
    
    font-size: 44px;
    margin-bottom: 20px;
    background-color: yellow;
    display: block;
    padding: 0 10px;
    border-radius: 5px;
  }
  .timeline-title::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: yellow;
    position: absolute;
    bottom: -10px;
    left: 0;
  }
  
.timeline {
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
 
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin-top: 80px;
    
    align-items: center;
    
    
  }

  .time {
    background: linear-gradient(135deg, rgba(152, 251, 152, 0.1), rgba(70, 130, 180, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 3px solid #11998e;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    

    padding: 15px;
    margin: 20px 0;
  
    width: 650px;
    height: 220px;
    align-self: flex-start;
    transform: translateX(160px);
  }
  .time-title::after{

    position: absolute;
    right:780px;
    top: 170px 


  }
  .time-title {
  
    text-align: center;
    font-size: 18px;
    font-weight: bold;
  
    align-self: center; /* Centra verticalmente */
}

  .time:nth-child(even) {
    align-self: flex-end;
    transform: translateX(1000px);
  }

  .time:nth-child(odd)::before {
    content: "";
    width: 15px;
    height: 15px;
    background-color: #ccc;
    border-radius: 50%;
    position: absolute;
    right: -7.5px;
    top: 50%;
    transform: translateY(-50%);
  }





  
   
